Application
- Visualization for when a goal is complete or not
- Visualization for the priority of a goal
- Grade Visualization
- Points calculation
- Points Visualization
- ask to save before quitting

Yearly Review
- Goal page layout

Monthly Review
- Goal page layout

Weekly Review
- Goal page layout

Daily Review
- button on main page
- goal presentation
- goal achieved question?
- Yes button
- No button
- End button
- Back button


Stretch Goals:
- most of the todos
- database
- streamline goal creation
- edit goal inline
- prettify the whole thing



bugs:
- left the CurrentCompletion of ProgressType empty rather than giving it a 0
```
thread 'main' panicked at 'called `Result::unwrap()` on an `Err` value: ParseIntError { kind: Empty }', src\edit_goal_widget.rs:468:34
note: run with `RUST_BACKTRACE=1` environment variable to display a backtrace
```